
a:hover {color:#fff;}

.left-text {max-width: 45%;
    margin-right: 5%;}


.slick-prev:before, .slick-next:before {
    font-family: 'FontAwesome';
    background-color:rgba(255,255,255,.6);
    font-size: 42px;opacity:1 !important; font-weight:700; 
    }

.slick-prev, .slick-next {top:25%;}
.slick-prev {left:0px}
.slick-next {right:0px;}

.slick-prev:before { content: "\f104";padding:12px 20px;  }
.slick-next:before { content: "\f105"; padding:10px 20px; margin-left:-36px;}


.slick-dots li button {display:none}


.culmn{
    width:100%;
    overflow: hidden; 
}

 #wrapper1 {
            min-height: 100%; 
        }

.main_home{
    margin:auto;
    /*padding-top: 250px;
    padding-bottom: 120px;*/
    display: block;
    text-align:center;
    
}

.head{
    position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
    
}

.home{
    background: url(../images/homebg.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    min-height:100%;min-height:100vh; position:relative;

}


.main_home h1{
    color: #fff;
    margin-bottom:20px;
}
.main_home p{
    color: #fff;
    max-width: 60%;
    margin: 0 auto;
    padding-bottom: 30px;
    font-size:1.125rem;

}

    

    * {
      box-sizing: border-box;
    }

    .slider {
        width: 100%;
        margin: 0px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color:#fff;
        
    }




    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: 1;
    }

    .slick-current {
      opacity: 1;
    }


.slick-list {max-width:1150px !important; margin: 0 auto;}

.slick-dots {bottom:0 !important}





.map_pin{
  display:block;
  text-align:center;
  color:#fff;
  font-size:20px;
  background-color:#159eee;
  border-radius:4px;
  padding:10px 20px;
font-weight:700;
    
}





.map_pin:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-top-color: #159eee;
	border-bottom: 0;
	margin-left: -10px;
    margin-bottom: -8px;}







#particles-js {
  position: absolute;
  width: 100%;
  height:100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}








.tabs {
  position: relative;   
  min-height: 300px; 
  clear: both;
  margin: 0 auto;
max-width:600px;
    
}
.tab {
  float: left;
}
.tab label {
  background: #fff; 
  padding: 10px; 
  border: 1px solid #159eee; 
  margin-left: -1px; 
  position: relative;
    width:150px;
    border-top: 2px solid #159eee;
    border-bottom: 2px solid #159eee;
    margin:0 !important;
    text-align:center;
    color:#159eee;
    }

.tab-first label {border-left:2px solid #159eee; border-radius:4px 0px 0px 4px;}
.tab-last label {border-right:2px solid #159eee; border-radius:0px 4px 4px 0px;}

.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 70px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;

}
[type=radio]:checked ~ label {
  background: #159eee;
    color:#fff;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}












.quarter-image {position:relative; width:200px; height:200px;margin:0 auto; margin-bottom: 2rem;}
.quarter-image img {border-radius:50%;}
.quarter-text {position:absolute;top:40%; text-align:center; width:inherit;height:inherit; ;z-index:100;opacity:0; -webkit-transition: 0.2s ease-in-out; -o-transition: 0.2s ease-in-out; transition: 0.2s ease-in-out; color:#fff; font-size:17px; padding-top:10px;}
.circ i {font-size:22px; color:#fff !important;    top: 18px;
    position: relative; transition:none;}
.quarter-image:hover .circ {width:202px; height:202px; margin-top:0; margin-right:0; -webkit-transition: 0.2s ease-in-out; -o-transition: 0.2s ease-in-out; transition: 0.2s ease-in-out; box-shadow: 1px 1px 0px 0px #159eee; */}
.quarter-image:hover .circ i {opacity:0; transition:none;}
.quarter-image:hover .quarter-text {opacity:1; transition:none;}

.circ {height:60px; width:60px; border-radius:50%; background:#159eee; position:absolute;top:0; right:0; margin-top:-10px; margin-right:-10px;-webkit-transition: 0.2s ease-in-out; -o-transition: 0.2s ease-in-out; transition: 0.2s ease-in-out; z-index:2;}

.circ-float {height:100px; width:100px; background:#159eee; border-radius:50%;margin:0 auto;z-index:100; margin-bottom:-50px; position:relative; text-align:center;}
.circ-float i {color:#fff; padding-top:25px; font-size:50px;}

.contact_img {width:100%; height:330px;}

.col-lg-8 {width:100% !important}
.col-lg-offset-2 { margin-left:0 !important;}
.parallax { 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 950px) {.parallax {background-attachment: scroll;}}

.wrap {max-width:1100px; margin:0 auto;}

.bar {background-color:#383838; color: #444; padding:60px 10px; background-image:url('../images/bar.png'); background-size:cover; background-position: center;}
.bar p {color:#fff;padding-top:17px;}
.bar-left {float: left;
    width: 65%;
    font-size: 18px;
    margin-top: 11px;
    text-align: center;
    margin: 0 auto;
    margin-left: 10%;}
.bar-right {}
.btn-area {    float: right;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 700;
    border-radius: 4px;
    color: #fff;
      border: 2px solid #949494; }
.btn-area:hover {cursor:pointer;}
.btn-ico {float:right; padding: 0.75rem 1.3rem 0.55rem; overflow:hidden; max-width:60px;}
.btn-ico i {font-size: 20px; font-weight: 600; line-height: 1.4; padding-right:60px;margin-left:-70px; padding-right:120px;    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;}
.btn-area:hover .btn-ico i {margin-left:0px;    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;}
.btn-text {float:left;  padding: 1rem 2.5rem; 
    border-right: 2px solid #949494; font-weight:900;}




tr {background-size: cover;
    background-position: center;}



.quote_area {width:100%; margin:1.5%;}
.qa_min {width: 90%;    margin: 0 auto;}
.quote_box {background-color: rgba(255,255,255,.25);
    border-radius: 4px;
    padding: 0.5rem 1rem 2.5rem 3rem;
    text-align: left;}
.qb_min {margin-top: 80px;}
.quote_box h3 {font-size: 19px;
    line-height: 1.6em;
    font-weight: 600;}
.quote_box_arrow {width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid rgba(255,255,255,.25);
    margin-left: 47px;}
.quote_author {text-align:left; margin-top:26px;}
.quote_author img {    float: left;
    margin-bottom: 80px;
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 32px;}
.quote_author h3 {font-size: 16px;
    padding-top: 20px;
    font-weight: 700;
    margin-left: 20px; line-height:0}
.quote_author p {font-size: 16px;
    line-height: 19px;margin-left: 20px;}


table {width:100%;}
td {background-size: cover;
    background-repeat: no-repeat;
    width: 55%;
    height: 100%;
    padding: 10% 5%;
    background-color: rgba(0,0,0,.8);
    padding-left: 21%;
}

td h2 {font-size: 34px;
    line-height: 1.284em; color:#fff}

td h4 {font-size: 18px;
    line-height: 1.508em;
    font-weight: 500;
    color:#ddd; padding-top:6px;}

td p {color:#adacac; padding-top:20px;}

.line {width:60px; background-color:#159eee; height:3px; margin:0 auto; margin-top:20px;}
.infobox {float:left; width:36%; text-align:left; margin-left:7%; margin-bottom:5%;}
.infobox i {float:left; font-size:2.5rem;margin-right: 2rem;margin-bottom: 10rem; color: #159eee}
.infobox h2 {margin-top: 0px; font-size: 1.6rem;}
.infobox p {font-size:1rem; opacity:.8;}
.dark {background-color:#232323; color: #fff; z-index:1 }
.dark h2 {color:#fff}
.quote {font-size:1.4rem; color: #fff; font-style: italic; line-height:1.5; font-weight:200;}
.quote h3 {text-transform: uppercase; font-style: normal; font-size:1.2rem; font-weight:700; letter-spacing:2px; margin-bottom:0px; line-height: 1.5;}
.quote p {    font-style: normal;
    opacity: 0.6;
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
line-height:2}
.quote img {margin: 0 auto;
    height: 80px;
    width: 80px;
    border-radius: 150px;
    border: 4px solid #f4f4f4;
    margin-top: 2rem; margin-bottom:2rem;}


html,
body {
    background-color: #fff;
    font-size: 14px;
    color: #797979;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  min-height:100%;
    width:100%;
   font-family: Raleway,sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 500;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
     margin: 0;
      padding: 0;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;
    

}

.clear {
    clear: both;
}

img {
    max-width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}

.form-control {
  display: inline-block;
    height: 38px;
    /* padding: 10px 2px; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.00); */
    /* box-shadow: inset 0 0px 0px rgba(0,0,0,.00); */
    /* -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    /* border-bottom: 2px solid #ddd; */
}
/*.form-control:focus {
    border-color: #bcefeb;
}*/
.form-control:focus {
    border-color: #bcefeb;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
}

h1,h2,h3,h4,h5,h6 {font-family: 'Raleway';}

h1
 {
font-size: 72px;
    line-height: 78px;
    letter-spacing: 0px;
     font-weight:700;
    margin-bottom: 18px;
}
h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 6rem;
    line-height: 5.5rem;
    color:#fff;
    letter-spacing: 1;
}
h2 {
    font-size: 34px;
    line-height: 1.284em;
    color:#202020;
    font-weight:700;
    
}
h3 {
font-size: 24px;
    line-height: 35px;
    letter-spacing: 0px;
    font-weight: 500;
    color: #fff;
    }

h4 {
    font-size: 18px;
    line-height: 1.508em;
    font-weight: 500;
    color:#797979;
}
/*h5 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    color:#223d61;
    text-transform: uppercase;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}*/

p:last-child {
    margin-bottom: 0px;
}
/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
    /*font-family: 'roboto', sans-serif;*/
}
.textwhite {
    color: #fff;
}
.colorstext {
    color: #5e9a28;
}
.coloricon i {
    color: #5e9a28;
}
.colorsbg {
    background: #5e9a28;
    color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
}
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.outofsectiontext{
    margin-top: 40px;
}

/*
Section
*/
.sections {
    padding-top:85px;
    padding-bottom: 85px;
    /*overflow: hidden;*/
}
.sections.footer {
    padding-bottom: 80px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
}
.parallax-section {
    max-width: 100%;
    color: #ffffff;
}
section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}

.heading {
    margin-bottom: 4rem;
}
.overlay {
    /*background-color: rgba(41, 39, 34, 0.75); */
    width: 100%;
    height: 100%;
}
/*.map-overlay {
    background-color: rgba(255, 114, 0, 0.75);
    width: 100%;
    height:auto;
}
.video_overlay {
    background-color: rgba(41, 39, 34, 0.75);
    width: 100%;
    height: auto;
}*/

.no-padding {
    padding: 0 !important;
    margin:0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}
/*
Separator
*/
.separator {
    width: 10px;
    height: 10px;
    margin: 20px auto;
    background: #159eee;
    position: relative;
    display: inline-block;
    border-radius: 50%;
}
.separator:after {
    position: absolute;
    left:5%;
    bottom:4px;
    height: 1px;
    width: 80px;
    background: #eee;
    content:"";
    display: inline-block;
    margin-left: 20px;
}
.separator:before {
    position: absolute;
    right: 5%;
    bottom:4px;
    height: 1px;
    width: 80px;
    background: #eee;
    content:"";
    display: inline-block;
    margin-right: 20px;
}
.separator2 {
    height: 4px;
    width:40px;
    margin: 10px 0px;
    background: #eeeeee;
    position: relative;
}

.separator3 {
    height: 2px;
    width: 40px;
    margin:20px auto;
    background: #888888;
}
.separator4 {
    height: 2px;
    width: 30px;
    margin:20px 0px;
    background: #f38181;
}


.divider{
    height: 1px;
    background: #eee;
    width:100%;
    overflow: hidden;
}
/*section:nth-of-type(odd) {
    background-color: #F9F9F9;
}*/
/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #159eee;
    border-color: #159eee;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #159eee;
    border-color: #159eee;

}
.btn {
    display: inline-block;
    min-width: 150px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
    font-size:12px;
    font-weight:700;
    border-radius: 0px;
    margin-top: 20px;
    transition: .5s;
    border: 1px solid #159eee;
    padding: 0.8rem 3rem;
    transition: all 0.6s;
    border-radius: 2px;
    text-transform:uppercase;

}
.btn:hover{
    box-shadow: 0px 0px 5px 1px rgba(221, 221, 221, 0.6);
    color:#fff;
}
.btn-default{
    background: transparent;
    border:1px solid #fff;
   padding: 16px 50px;
}
.btn-default:hover{
    background: #159eee;
    border:1px solid #159eee;
}
.btn-lg{
    background: #159eee;
}

.btn-area.btn-lg {
    padding:4px;
    border:0;
    float:left;
    margin-top:10px;
}

.btn-lg>.btn-text {
    border:none;
}



.btn-md{
    background: #999999;
    padding: 1rem 2rem;
    border: 1px solid transparent;
}

/*
Extra height css
*/
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
.m_t_10{
    margin-right:10px;
}
.padding-top-20 {
    padding-top: 1.33rem;
}
.padding-bottom-20 {
    padding-bottom: 1.33rem;
}
.padding-top-40 {
    padding-top: 2.66rem;
}
.padding-bottom-40 {
    padding-bottom: 2.66rem;
}
.padding-top-60 {
    padding-top: 5rem;
}
.padding-bottom-60 {
    padding-bottom: 5rem;
}
.padding-top-90 {
    padding-top: 6.429rem;
}
.padding-bottom-90 {
    padding-bottom: 6.429rem;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
.p_l_r{
   
    padding-right: 1rem;
    
}
/*padding*/
.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}
h1 span {
    color: #5e9a28;
    font-weight: 400;
}

/*for placeholder changes*/

input::-webkit-input-placeholder {
    color: #ddd;
}
input::-moz-placeholder {
    color: #ddd;
}
input::-ms-input-placeholder {
    color: #ddd;
}

/*for image bg*/


/*.img-bg{
  background: url(../images/home-msg.jpg) no-repeat center top fixed;
  background-size
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}*/
/* navbar section */
.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    /*background-color:rgba(34, 61, 97, 0.64); */
    background-color:rgba(255, 255, 255, .98); 
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
    height: 66px;
    display:none;
}

.main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color:#fff !important;
}

.menu-scroll .main_menu_bg .navbar-nav>li>a {
    color:#828282 !important;
}
.main_menu_bg{
    margin-top: 0px;
    background-color: transparent;
}
.main_menu_bg .navbar-default {
    background-color: transparent; 
    border-color: transparent; 
    transition: all .6s;
    margin: 13px auto;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
   color: #fff;
    background-color:#159eee;
    border-radius:3px;
    padding

}
.main_menu_bg .navbar {}

.main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color: #fff;
    background-color:#159eee;
    border-radius:3px;
    padding

}

.main_menu_bg .navbar-nav>li>a {
    padding: 3px 22px;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0px;
    font-size: 16px;
    line-height: 34px;
    font-weight: 700;
}
.navbar-brand {
    padding: 0px 15px;
}
.navbar-brand>img {
    max-width: 80%;
    max-height: 40px;
    margin-top: 4px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color:transparent;
    color:#f5c239;

}

.dropdown-menu {
    min-width: 160px;
    padding: 0px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    border: 0px solid #ccc; 
    border: 0px solid rgba(0,0,0,.15); 
    border-radius: 0px; 
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175); 
    box-shadow: 0 0px 0px 
}

/*.dropdown-menu .navbar-form .form-group input[type="text"]{
    background-color:rgba(34, 61, 97, 0.68);
    border: 1px solid #159eee;
    color:#159eee;
    width: 300px;
}
.dropdown-menu .navbar-form .form-group .form-control::-webkit-input-placeholder{
    color: #159eee;
    opacity: 1; 
}
.dropdown-menu .navbar-form {
    margin-right: -30px;
}*/

.scrooldown{
    margin:0 auto;
    margin-top:4rem;
    width: 60px;
    height: 60px;
    line-height: 48px;
    background: rgba(255,255,255,.9);
    border-radius: 50%;
    text-align: center;
    z-index: 9;
}
.scrooldown a i{
font-size: 40px;
    color: #4e4e4e;
    padding-top: 10px;
}



/*heading title all area*/
.head_title{
    margin-bottom:5rem;
}
.head_title h3{
    color:#413d4b;
}
.head_title .subtitle{
    margin-top:24px; font-size:18px; line-height:1.5;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: #fff;
    outline: none;
  
}
.slick-arrow{
    color:#000;
}
.main_home_slider i{
    line-height: 61px;
    color: #1f2d38;
    font-size: 30px;
    padding-left: 1px;
}
.main_home_slider i.nextprevleft{
    width:40px;
    height: 40px;
    line-height: 40px;
    color:#000;
    background: #716a65;
    float: left;
    position: absolute;
    z-index: 999;
    top: 400px;
    font-size:1.5rem;
    transition: all 0.6s;
    left:-60px;
}
.main_home_slider i.nextprevright{
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #000;
    background: #716a65;
    float: right;
    position: absolute;
    z-index: 999;
    top: 400px;
    font-size:1.5rem;
    transition: all 0.6s;
    right: -50px;
}
.main_home_slider i.nextprevleft:hover{
    color:#fff;
    background: #159eee;
}
.main_home_slider i.nextprevright:hover{
    color: #fff;
    background: #159eee;
}

/*==================================================================
            Feature section Style
====================================================================*/

.main_feature{}
.main_feature .single_feature{}
.main_feature .single_feature:hover .single_feature_icon{
    /*border-color:#159eee;
    transform: rotate(45deg);*/
}
.main_feature .single_feature:hover .single_feature_icon i{
    /*transform: rotate(-45deg); */
}
.main_feature .single_feature:hover h4{
    /* color:#159eee; */
}
.main_feature .single_feature .single_feature_icon{
    /*border:1px solid #ddd;
    width:70px;
    height: 70px;*/
    line-height: 70px;
    font-size:72px;
    transition: all 0.6s;
}
.main_feature .single_feature i{
    margin-bottom:30px;
    color:#159eee;
    transition: all 0.6s;
}
.main_feature .single_feature h4{
    transition: all 0.6s;
    text-transform: none;
    color:#222;
    font-weight:600;
    font-size:19px;
    
}

.single_feature p
{padding-top: 1rem;}

/*==================================================================
            History section Style
====================================================================*/
.main_history{

}
.main_history .single_history_content .head_title h2{
    /*border-left:6px solid #159eee;
    padding-left: 30px;*/
}


/*==================================================================
            service section Style
====================================================================*/
.main_service .head_title{
    padding: 100px 0px 40px 0px;
    margin-bottom: 0px;
}
.main_service .head_title h2{
    margin-right: 12%;
    border-right: 6px solid #159eee;
    color:#fff;
    padding-right: 5%;
}
.main_service .single_service_img {
    position: relative;
    height: 676px;
}
.main_service .single_service_img img {
    width: 100%;
    height: 100%;
}

.main_service .single_service.single_service_text {
    margin-right:0px;
    background: #202020;
}
.main_service .single_service.single_service_text .single_service_icon i{
    background: #f4f5f9;
    width:70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color:#159eee;
    position: relative;
    z-index: 9;
    border:5px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    font-size: 1.875rem;
}

.main_service .single_service.single_service_text .single_service_right_text {
    width: 96%;
}
.main_service .single_service.single_service_text .single_service_right_text h4{
    color:#159eee;
}
.main_service .single_service.single_service_text .single_service_right_text p{
    color:#999999;
    font-family: 'source_sans_proregular';
}
/*======================================================================
                    portfolio section css
========================================================================*/
.btn-md:active, .btn-md.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
}
button.btn-md:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
    outline:none;
    color:#159eee;
}
button.btn-md {
    text-align: center;
    color: #444;
    letter-spacing: 1px;
    margin: 0;
    font-size: 0.9rem;
    border-radius: 0px;
    margin-top: 0px;
    background-color: transparent;
    transition: .5s;
    border: 0px solid #159eee;
    font-weight:800;
    }

button.btn-md:hover {
    background-color: transparent;
    color: #159eee;
    text-decoration: none;
    border: 0px solid #f4720a;
}
.portfolio .toolbar{
    margin-bottom:50px;
}
#portfoliowork {  
    margin: 1rem 0;
    -webkit-column-count: 4; 
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 0rem;
    -moz-column-gap: 0rem;
    column-gap: 0rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
    margin: 0 auto;
}
.tile { 
    display: none;

}
.scale-anm {
    margin: 0px;
    width: 100%;
    /*margin-bottom: -6px;*/
}


.tile img {
    height: auto;
    display: inline-block; 
    width: 100%;
}

.single_portfolio{
    position: relative;

}
.single_portfolio:hover .grid_item_overlay{
    opacity: 1;
}

.grid_item_overlay{
    position: absolute;
    text-align:center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    color: #159eee;
    padding: 20px;
    opacity: 0;
    transition: 0.4s;
    z-index: 99;
}

.grid_item_overlay h3 {color: #222;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top:25%}

.grid_item_overlay p {font-weight: 700;
    font-size: 15px;}

.g_overlay_1{
    padding-top:16%;
}
.g_overlay_2{
    padding-top: 85%;
}

.grid_item_overlay a i{
    width:30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border:1px solid #fff;
    color:#fff;
    display: inline-block;
    background: transparent;
}
.grid_item_overlay a:hover i{
    color:#159eee;
    background: #fff;
}

/*========================================================================
                    Study Section Css
==========================================================================*/
.study{
    background: #f4f5f9;
}
.main_study_area{
    overflow: hidden;
}
.slick-active{
    outline: none;
}
.single_study_text{
    background: #fff;
    position: absolute;
    right:-15%;
    top:85px;
    width:100%;
    z-index: 9;
    padding: 10% 20%;
}

.client_slide{
    width:100%;
    z-index: 9;
    padding: 0% 20%;
}

.single_study_text .s_study_icon{
    background: #159eee;
    width:60px;
    height: 60px;
    line-height: 60px;
    color:#fff;
    transform: rotate(45deg);
    margin: 30px auto;
}
.single_study_text .s_study_icon i{
    transform: rotate(-45deg);
}
.single_study_right_img{
    position: relative;
}


/*=====================================================================
                    counter section css
=======================================================================*/
.counter{
    background: url(../images/counterbg.jpg) no-repeat top center;
    background-size: cover;
}
.counter .main_counter_area{
    padding:80px 20px;
}

.main_counter_area .single_counter h2{
    color:#fff;
    font-size:2.8125rem;
}
.main_counter_area .single_counter i{
    color: #fff;
    font-size: 5rem;
    display: inline-block;
    /*border: 2px solid #fff; */
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    /*margin-bottom: 30px;*/
    margin-top: 20px;
}
.main_counter_area .single_counter h4{
    color:#fff;
    font-size:0.95rem;
    /*text-transform: lowercase;*/
}

/* Pricing2 Section */

.main_pricing_area{
    overflow: hidden;
}

.single_pricing{
    text-align: center;
    margin-top: 20px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
}
.single_pricing:hover{
    box-shadow: 0px 1px 10px 1px #ccc;

}
.pricing_business .pricing_head{
    background:#159eee;
}
.pricing_business .pricing_head .p_r{
    color:#159eee;
}
.pricing_business .pricing_head h3{
    color:#fff;
}
.pricing_business .btn-md{
    background: #159eee;
}


.pricing_head{
    padding: 30px 0px;
    background: #999999;
    position: relative;
    height: 200px;  
}
.pricing_head h3{
    text-transform:uppercase;
    color:#fff;
    font-size:24px;
}
.pricing_head .pricing_price{
    background: #fff;
    position: absolute;
    left: 30%;
    bottom: -30%;
    width: 150px;
    height: 150px;
    margin:0 auto;
    padding: 30px 0px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px rgba(244,245,249,0.3);
}
.pricing_head .pricing_price .p_r{
    font-family: 'source_sans_probold';
    font-size:2.822rem;
}
.pricing_head .pricing_price .m_t{
    font-family: 'source_sans_proregular';
    font-size:0.941rem;
}
.pricing_body{
    background: #f4f5f9;
    padding: 80px 0px 30px 0px;
}
.single_pricing ul{


}
.single_pricing ul li{
    line-height:45px;
    height:45px;
    font-size:18px;
    font-family: 'open_sanssemibold';
}

.single_pricing a{
    margin-top:30px;
}



/*video section css*/

/*.video{
    background: url(../images/videobg.jpg) no-repeat top center;
    background-size:cover;
}
.video .main_video{
    padding: 220px 0px 160px 0px;
    overflow: hidden;
}
.video .icon{}
.video .icon h3{
    color:#fff;
    margin-top:30px;
    margin-bottom: 0px;
}*/


/*about section css*/





/* Team section css */
.main_team_area{
    background: url(../images/teambg.jpg) no-repeat scroll top center;
    background-size: cover;
    position: relative;
    height: 650px;
}
.main_team_area:before{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    bottom:0;
    content:"";
    background: url(../images/teambg2.png) no-repeat bottom center;  
}
.main_team ul li{
    text-align: center;

}
.main_team ul li:nth-child(1){
    width: 15%;
    display: inline-block;
    float: left;
    margin-left: 3%;
    position: absolute;
    left:1%;
    top:96%;
}
.main_team ul li:nth-child(2){
    width: 15%;
    display: inline-block;
    float: left;
    margin-left: 3%;
    position: absolute;
    left:19%;
    top:85%;
}
.main_team ul li:nth-child(3){
    width: 15%;
    display: inline-block;
    float: left;
    margin-left: 3%;
    position: absolute;
    left:37%;
    top:87%;
}
.main_team ul li:nth-child(4){
    width: 15%;
    display: inline-block;
    float: left;
    margin-left: 3%;
    position: absolute;
    left:55%;
    top:97%;
}
.main_team ul li:nth-child(5){
    width: 15%;
    display: inline-block;
    float: left;
    margin-left: 3%;
    position: absolute;
    left:73%;
    top:94%;
}
.main_team ul li .single_team_img img{
    width:60px;
    height: 60px;
    margin:20px auto;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px rgba(231, 76, 60, 0.65);
}

li:hover .single_team_img img{
    transform: scale(1.08);
}
li:hover .single_team_text{
    opacity: 1;
}
li .single_team_text{
    padding: 10px 20px;
    width:100%;
    opacity:0;
    transition: all 0.6s;
    text-align: center;
    display: block;
    height: 80px;
}
li .single_team_text h4{
    margin-bottom: .0rem;
    display: inline-block;
    text-transform:none ;
    color:#159eee;
}
li .single_team_text p{
    color:#fff;
}




/* Carousel */

.testimonial2 {display:none;}

.testimonial{
    background: url(../images/testbg.jpg) no-repeat center center;
    background-size: cover;
}
.main_testimonial {
    color:#fff;
}
.main_testimonial .single_testimonial i{
    color:#fff;
    margin-bottom:30px;
    font-size:2rem;
    padding: 2px;
}
.main_testimonial .single_testimonial p{
    color:#fff;
    letter-spacing: .03rem;
}
.main_testimonial .single_testimonial .single_test_author{
    margin-bottom:40px;
    display: inline-block;
}
.main_testimonial .single_testimonial .single_test_author h4{
    color:#fff;
    margin-bottom:0px;
    font-size:1rem;
}
.main_testimonial .single_testimonial .single_test_author h4 span{
    font-family: 'ralewayregular'; 
}
.main_testimonial .single_testimonial .single_test_author p{
    color:#fff;
}

.main_testimonial .owl-theme .owl-dots .owl-dot span {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    transform: rotate(0deg);
}

/*====================================================================
                        clogo section css
======================================================================*/
.clogo{
    background: #f4f5f9;
}
.main_clogo{
    overflow: hidden;
}
.main_clogo a{
    height: 100px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    line-height: 100px;
    background: #fff;
    margin-bottom:30px;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0, 0.25);
}


/*=================================================================
                            Blog Section
===================================================================*/
.blog{
    background: #f4f5f9;
}


.main_blog_content .single_blog_area .single_blog_text{
    background: #e74e3e;
    padding: 70px 30px 70px 50px;
    position: relative;
}
.main_blog_content .single_blog_area .single_blog_text.s_b_left:after{
    position: absolute;
    left:-8%;
    top:45%;
    content:"";
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 30px solid #e74e3e;;
    border-bottom: 30px solid transparent;
}
.main_blog_content .single_blog_area .single_blog_text.s_b_right:after{
    position: absolute;
    right: -8%;
    top:45%;
    content:"";
    z-index: 9;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 30px solid #e74e3e;;
    border-bottom: 30px solid transparent;
}
.main_blog_content .single_blog_area .single_blog_text a.read_more{
    color:#fff;
}
.main_blog_content .single_blog_area .single_blog_img{
    width:100%;
    height: 417px;
    display: inline-block;
}
.main_blog_content .single_blog_area .single_blog_img img{
    width:100%;
    height: 100%;
}
/*contact section css*/
.contact{
    background:#fcfcfc;

}
.contact_info_content{
    
    overflow: hidden;
    
}
.contact_info_content h3{
    color:#e74e3e;
    font-family: 'source_sans_prosemibold';
    margin-bottom: 19px;
}
.contact_info_content h4{
    font-family: 'open_sansregular';
}
.contact_info_content h4{
    margin:0;
    padding: 0;
}
.single_contant_left{
    overflow: hidden;
    
}
.single_contact_info{
    margin-bottom:45px;
    overflow: hidden;
}

/*====================================================================
                        Trail Section 
======================================================================*/
.main_trial_area{
    background: url(../images/bar.png) no-repeat top center;
    overflow: hidden;
    background-size: cover;
    color:#fff;
    background-color:#383838;
}
.main_trial h2{
    text-transform: none;
    font-family: 'open_sansregular';
}
.main_trial h2 span{
    font-family: 'open_sansbold';
}
.main_trial h4{
    font-family: 'open_sansregular';
    text-transform: none;
}

.main_trial img {max-width: 190px;
    padding: 0px 18px;
    width: 100%;}

/*=================================================================
                        footer section
===================================================================*/
.footer{
    background: #000000;
}
.main_footer{
    overflow: hidden;
    padding: 20px 0px;
}

.main_footer .flowus a i{
    color:#fff;
    font-size:1rem;
    padding: 5px;
    border-radius: 0;
    width:30px;
    height:30px;
    text-align: center;
    line-height: 18px;
    margin-top:10px;
}
.main_footer .flowus a i:hover{
    color:#159eee;
}

.copyright_text{
    text-align: right;
}
.copyright_text p{
    color:#fff;
    line-height: 25px;
    max-width: 100%;
    padding-top: 15px;
}
.copyright_text p i{
    padding:0px 10px;
    color:#ff0000;
}
.copyright_text p a{
    padding:0px 10px;
    color:#159eee;
}



/* scrollup */

.scrollup{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #159eee;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}








